name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: [ '1.20' ]
        package:
          - github.com/confluentinc/confluent-kafka-go/otelconfluent
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go_version }}

      - name: Install go dependencies & run tests
        shell: script -q -e -c "bash {0}"
        run: |
          cd instrumentation/${{ matrix.package }}
          go get -t -v ./...
          go test -count=1 -v -cover ./...
